.ir-remote {
  width: 330px;
  margin: auto;
  margin-top: 60px;
}

.ir-line {
  width: 100%;
  float: left;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.ir-line .title {
  width: 100%;
  font-size: 11px;
  height: 20px;
}

.surround-remote .ir-line {
  gap: 10px;
  margin-bottom: 10px;
}

.ir-col {
  width: 33%;
}

.ir-btn,
.ir-btn-circle {
  position: relative;
  font-weight: bold;
  width: 33%;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  border: none;
  border-bottom: 2px solid #383838;
  border-right: 2px solid #383838;
  padding: 10px;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #222222);
  background-image: -moz-linear-gradient(top, #000000, #222222);
  background-image: -ms-linear-gradient(top, #000000, #222222);
  background-image: -o-linear-gradient(top, #000000, #222222);
  background-image: -webkit-gradient(to bottom, #000000, #222222);
}


.ir-btn-white {
  color: black;
  background: #d8d8d8;
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b9b9b9);
  background-image: -moz-linear-gradient(top, #d8d8d8, #b9b9b9);
  background-image: -ms-linear-gradient(top, #d8d8d8, #b9b9b9);
  background-image: -o-linear-gradient(top, #d8d8d8, #b9b9b9);
  background-image: -webkit-gradient(to bottom, #d8d8d8, #b9b9b9);
}

.ir-btn-circle,
.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w23 {
  width: 23%;
}

.w31 {
  width: 31%;
}

.w60 {
  width: 60%;
}

.w100 {
  width: 100%;
}

.plr27 {
  margin-left: 10%;
  margin-right: 10%;
}

.m20 {
  margin-top: 20px;
}

.ir-btn-circle {
  border-radius: 75px;
  height: 70px;
}

.ir-btn-circle-small {
  width: 35px;
  height: 35px;
}

.ir-btn-flat {
  height: 35px;
  border-radius: 7px;
}

.ir-btn svg {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  margin-right: 7px;
}

.small-txt {
  font-size: 12px;
}

.large-txt {
  font-size: 45px;
  top: -5px;
  position: absolute;
  left: 35px;
}


.ir-btn.ir-btn-power {
  background: #a30000;
  background-image: -webkit-linear-gradient(top, #a30000, #d10000);
  background-image: -moz-linear-gradient(top, #a30000, #d10000);
  background-image: -ms-linear-gradient(top, #a30000, #d10000);
  background-image: -o-linear-gradient(top #a30000, #d10000);
  background-image: -webkit-gradient(to bottom #a30000, #d10000);
  border-bottom: 2px solid #740000;
  border-right: 2px solid #740000;
  height: 75px;
  width: 75px;
  border-radius: 60px;
  position: absolute;
  left: 10px;
  top: -35px;
}

.ir-btn.ir-btn-power-green {
  background: #006E00;
  background-image: -webkit-linear-gradient(top, #006E00, #013f01);
  background-image: -moz-linear-gradient(top, #006E00, #013f01);
  background-image: -ms-linear-gradient(top, #006E00, #013f01);
  background-image: -o-linear-gradient(top #006E00, #013f01);
  background-image: -webkit-gradient(to bottom #006E00, #013f01);
  border-bottom: 2px solid #003300;
  border-right: 2px solid #003300;
  height: 75px;
  width: 75px;
  border-radius: 60px;
  position: absolute;
  right: 0px;
  top: -35px;
}
.ir-btn.ir-btn-power svg {
  width: 40px;
  height: 40px;
  margin-left: 7px;
}

.ir-btn.btn-left:after {
  content: ' \02C2';
}

.ir-btn.btn-right:after {
  content: ' \02C3';
}

.ir-btn.btn-up:after {
  content: ' \02C4';
}

.ir-btn.btn-down:after {
  content: ' \02C5';
}
.ir-btn.btn-ok:after {
  content: ' \2022';
  font-size: 50px;
  height: 20px;
  display: block;
  margin-top: -40px;
}

.ir-btn.red-btn {
  background-color: rgb(197, 0, 0);
  background-image: none;
}
.ir-btn.green-btn {
  background-color: rgb(0, 110, 0);
  background-image: none;
}
.ir-btn.yellow-btn {
  background-color: rgb(215, 215, 43);
  background-image: none;
}
.ir-btn.blue-btn {
  background-color: rgb(73, 73, 202);
  background-image: none;
}

.ir-col .ir-btn {
  width: 100%;
  height: 70px;
  float: left;
}

.ir-col .ir-btn:nth-child(1) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ir-col .ir-btn:nth-child(2) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  background-image: -webkit-linear-gradient(top, #222222, #000000);
  background-image: -moz-linear-gradient(top, #222222, #000000);
  background-image: -ms-linear-gradient(top, #222222, #000000);
  background-image: -o-linear-gradient(top, #222222, #000000);
  background-image: -webkit-gradient(to bottom, #222222, #000000);
}

.ir-hidden {
  opacity: 0;
}

#mouse_pad {
  background-color: #d2d2d2;
  width: 100%;
  height: 500px;
}

  #mouse_feedback {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}