
/* media table */
.media-table thead a {
    text-decoration: none;
}

    .media-table thead a svg {
        margin-bottom: -2px;
    }

    .media-table tr td:nth-child(2) {
      width: 100px;
    }
    
    .media-table tr td:nth-child(3) {
      width: 155px;
    }
    
    .media-table tr td:nth-child(4) {
      width: 25px;
    }
    

@media only screen and (max-width: 600px) {
    .media-table {
        margin-top: 15px;
        margin-bottom: 100px;
    }

    .media-table thead {
        display: none;
    }

    .media-table,
    .media-table tbody,
    .media-table tbody tr,
    .media-table tbody tr td {
        width: 100%;
        float: left;
    }

        .media-table tbody tr {
          border-bottom: 1px solid #dee2e6;
        }

        .media-table tbody td:nth-child(1) {
          width: 100%;
          word-break: break-all;
          border: none;
        }

        .media-table tbody td:nth-child(2) {
          width: 100px;
          font-size: 14px;
          color: gray;
          border: none;
        }
        
        .media-table tbody td:nth-child(3) {
          width: calc(100% - 150px);
          font-size: 14px;
          color: gray;
          border: none;
        }

        .media-table tbody td:nth-child(4) {
          width: 50px;
          text-align: right;
          border: none;
        }
}

/* media file page */
#media-file-page .play-in-vlc,
#media-file-page .open-in-browser,
#media-file-page .start-stream-in-browser {
    display: block;
}

#media-file-page #stream_wrapper {
  display: -webkit-box;
  width: 100%;
}

#media-file-page #stream_player,
#media-file-page video {
  float: left;
  margin-top: 15px;
}

#media-file-page .media-file-detail-table td:nth-child(2) {
    word-break: break-all;
}

/* media controls fixed overlay at bottom of page */
.media-controls {
  display: none;
  position: fixed;
  bottom: 00px;
  height: 40px;
  width: 90%;
  
  left: 50%;
  margin-left: -45%; /* Half of the width */
  z-index: 999;
  touch-action: manipulation;
}

.media-controls.vcr {
  display: block;
}

    .media-controls .bg {
      /* background-color: rgba(0, 0, 0, 0.5); */
      background-color: #0d6dfdd7;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  
    .media-controls .buttons {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
  
      .media-controls .buttons a {
        float: left;
        color: white;
      }
      
        .media-controls .buttons a svg {
          width: 30px;
          height: 30px;
        }
        
        .media-controls .buttons a.fullscreen svg {
          width: 22px;
          height: 22px;
          margin-top: 5px;
        }
  
      .media-controls .buttons .skip-backward {
        margin-left: 15px;
        margin-top: 5px;
      }
  
      .media-controls .buttons .pause,
      .media-controls .buttons .play {
        margin-left: 5px;
        margin-top: 5px;
      }
      
      .media-controls .buttons .stop {
        margin-top: 5px;
      }
  
      .media-controls .buttons .skip-forward {
        margin-left: 5px;
        margin-top: 5px;
      }
  
      .media-controls .buttons .goto-file {
        display: block;
        float: right;
        margin-top: 6px;
        margin-right: 15px;
      }

      .media-controls .buttons .fullscreen {
        margin-right: 8px;
        margin-top: 5px;
        float: right;
      }

      
      .media-controls .buttons .time_wrapper {
        float: left;
        width: calc(100% - 225px);
      }
  
      .media-controls .buttons .time_wrapper .time,
      .media-controls .buttons .time_wrapper .length {
        width: 70px;
        height: 50px;
        float: left;
        margin-top: 5px;
        margin-left: 20px;
        color: white;
        font-size: 19px;
      }
      
      .media-controls .buttons .time_wrapper .bar {
        position: relative;
        float: left;
        width: calc(100% - 205px);
        height: 17px;
        margin-top: 12px;
        margin-left: 20px;
      }
  
        .media-controls .buttons .time_wrapper .bar .bar-bg {
          width: 100%;
          height: 2px;
          background-color: white;
          margin-top: 7px;
        }
  
        .media-controls .buttons .time_wrapper .bar .slider {
          position: absolute;
          width: 15px;
          height: 15px;
          margin-left: -7.5px;
          border-radius: 10px;
          left: 0px;
          top: 0px;
          background-color: white;
          cursor: pointer;
        }
  
@media only screen and (max-width: 600px) {
    .media-controls {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        height: 50px;
    }

    .media-controls .buttons a svg {
        width: 40px;
        height: 40px;
    }

    .media-controls .buttons .time_wrapper {
        width: calc(100% - 300px);
        margin-right: 15px;
    }

    .media-controls .buttons .time_wrapper .bar {
        display: none;
    }

    .media-controls .buttons .time_wrapper .time,
    .media-controls .buttons .time_wrapper .length {
        height: 20px;
        mask-border-width: 100%;
        float: right;
        clear: left;
        font-size: 15px;
        text-align: right;
    }

    .media-controls .buttons .time_wrapper .length {
        margin-top: -2px;
    }

    .media-controls .buttons .stop {
        margin-left: 0px;
    }

    .media-controls .buttons .fullscreen {
        margin-right: 12px;
        float: right;
        margin-top: 6px;
    }

    .media-controls .buttons a.fullscreen svg {
        width: 29px;
        height: 29px;
    }
}


.thumbnail_overview {
  width: 100%;
  margin-top: 15px;
}
  .thumbnail_overview .thumbnail {
    width: 24%;
    overflow: hidden;
    display: inline-block;
    margin-right: 0.6%;
    margin-bottom: 0.6%;
    cursor: pointer;
  }

    .thumbnail_overview .thumbnail img {
      width: 100%;
    }