
.torrent-downloads-table .progress {
    position: relative;
    height: 25px;
  }
  
    .torrent-downloads-table .progress .progress-text {
      position: absolute;
      left: 0px;
      top: 3px;
      width: 100%;
      text-align: center;
    }


.torrent-downloads-table .table td:nth-child(1) {
  width: 25px;
}

.torrent-downloads-table .table td:nth-child(2) {
  word-break: break-word;
}

.torrent-downloads-table .table td:nth-child(3) {
  width: 200px;
}

.torrent-downloads-table .table td:nth-child(4) {
  width: 130px;
}

.torrent-downloads-table .table td:nth-child(5),
.torrent-downloads-table .table td:nth-child(6) {
  width: 110px;
}

.torrent-downloads-table .table td:nth-child(7) {
  width: 70px;
}

.torrent-downloads-table .table td:nth-child(7) svg {
  width: 20px;
  height: 20px;
}

.check-all.mobile-devices {
  color: gray;
  border-bottom: 1px solid #dee2e6;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: none;
}
  .check-all.mobile-devices .form-check {
    margin-left: 7px;
  }

.torrent-details-table.table td:nth-child(2) {
  width: 200px;
}


@media only screen and (max-width: 1200px) {
    .check-all.mobile-devices {
      display: block;
    }
  
    .torrent-downloads-table .table {
      width: 100%;
    }
  
    .torrent-downloads-table .table thead {
      display: none;
    }
  
    .torrent-downloads-table .table tbody {
      float: left;
    }
  
    .torrent-downloads-table .table tr {
      margin-bottom: 20px;
      float: left;
      width: 100%;
    }
    
    .torrent-downloads-table .table tr:hover {
      --bs-table-accent-bg: none;
    }
  
    .torrent-downloads-table .table td {
      float: left;
    }
  
    .torrent-downloads-table .table td:nth-child(1) {
      width: 25px;
      border: none;
    }
  
    .torrent-downloads-table .table td:nth-child(2) {
      border: none;
      word-break: break-word;
      width: calc(100% - 25px);
    }
  
    .torrent-downloads-table .table td:nth-child(3) {
      width: 100%;
      height: 40px;
      border: none;
    }
  
    .torrent-downloads-table .table td:nth-child(4) {
      width: 100%;
      height: 40px;
      border: none;
      text-align: right;
    }
    
    .torrent-downloads-table .table tbody td:nth-child(5):before,
    .torrent-downloads-table .table tbody td:nth-child(6):before {
      content: "Downspeed:";
      width: 100%;
      color: gray;
      float: left;
    }
    .torrent-downloads-table .table tbody td:nth-child(6):before {
      content: "Upspeed:";
    }
  
    .torrent-downloads-table .table td:nth-child(5),
    .torrent-downloads-table .table td:nth-child(6) {
      width: 30%;
    }
    .torrent-downloads-table .table td:nth-child(7) {
      width: 40%;
      height: 65px;
    }
  
    .torrent-downloads-table .table td:nth-child(7) svg {
      width: 35px;
      height: 35px;
      float: right;
      margin-left: 20px;
    }
  
    /* torrent details */
    .torrent-details-table.table thead th:nth-child(2),
    .torrent-details-table.table thead th:nth-child(3) {
      display: none;
    }
  
    .torrent-details-table.table td {
      float: left;
    }
  
    .torrent-details-table.table td:nth-child(1) {
      width: 100%;
      border: none;
      margin-top: 15px;
    }
  
    .torrent-details-table.table td:nth-child(2) {
      width: 65%;
    }
  
    .torrent-details-table.table td:nth-child(3) {
      width: 35%;
    }
  
    /* torrents zoeken */
    .torrent-search-table {
      margin-top: 15px;
    }
    
    .torrent-search-table.table thead {
      display: none;
    }
  
    .torrent-search-table.table td {
      float: left;
    }
  
    .torrent-search-table.table td:nth-child(1) {
      width: calc(100% - 90px);
      border: none;
      word-break: break-word;
    }
    
    .torrent-search-table.table td:nth-child(2) {
      width: 90px;
      border: none;
      text-align: right;
    }
  
    .torrent-search-table.table td:nth-child(3),
    .torrent-search-table.table td:nth-child(4) {
      width: 31%;
    }
  
    .torrent-search-table.table td:nth-child(3):before,
    .torrent-search-table.table td:nth-child(4):before {
      content: "Seeders: ";
      float: left;
      margin-right: 5px;
    }
    .torrent-search-table.table td:nth-child(4):before {
      content: "Leechers: ";
    }
  
    .torrent-search-table.table td:nth-child(5) {
      width: 38%;
      text-align: right;
    }
  }

  
.title-wrapper {
    width: 100%;
    display: flex;
  }
  
    .title-wrapper .cover-heading {
      float: left;
      width: 60%;
    }
    .title-wrapper .button-container {
      float: right;
      width: 40%;
    }
      
      .title-wrapper .button-container button {
        float: right;
      }


@media only screen and (max-width: 600px) {
    .title-wrapper .cover-heading {
        width: 100%;
    }
    .title-wrapper .button-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .title-wrapper .button-container button {
        float: left;
    }
}
      