<div class="container py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Mass actions</h2>
  <div class="row g-5 py-5">
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Alle lichten uit</h2>
        <p>
          Met deze knop zet je alle lichten aan of uit. Als er 1 lamp aan staan, gaat deze uit. Als alles uit staat gaat alles aan.
        </p>
        <a href="#" class="btn btn-primary">
          Zet alles aan
        </a>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#speaker"/></svg>
      </div>
      <div>
        <h2>Media center uit</h2>
        <p>
          Zet de tv, surround set en playstation uit als deze aan staan. En visa versa.
        </p>
        <a href="#" class="btn btn-primary">
          Zet alles uit
        </a>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#lightbulb"/></svg>
      </div>
      <div>
        <h2>Media center & lichten uit</h2>
        <p>Dit bestaat nog niet</p>
        <a href="#" class="btn btn-primary">
          Go build it...
        </a>
      </div>
    </div>
  </div>
</div>