<div class="container py-5" id="homepage-top-info">
  <h2 class="pb-2 border-bottom">Home</h2>
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#microphone"/></svg>
      </div>

      <h2>Stemherkenning</h2>
      <p>
        Dit zijn trefwoorden die verbonden zijn aan functies.
        Wanneer gesproken zinnen corresponderen met bepaalde trefwoorden in het database zal de functie uitgevoerd worden.
      </p>
      <a href="/voice/commands" class="icon-link">
        Trefwoorden
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>

      <button id="record_audio" type="button" class="btn btn-sm btn-danger" style="float: right;">
          <span>Opnemen</span>
          <svg class="bi" style="width: 20px; height: 20px; margin-left: 5px; margin-bottom: -3px;"><use xlink:href="#record"></use></svg>
      </button>
    </div>

    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#lightbulb"/></svg>
      </div>
      <h2>Lamp beheer</h2>
      <p>Zet lampen aan of uit via het Zwave protocol. Ga naar de Zway manager om nieuwe lampen aan te melden of te regelen hoe lang ze aan moeten blijven.</p>

      <div>
        <a href="http://zwavepi.local:8083" class="icon-link" style="float: left;">
          Zwave manager
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>

        <div class="form-check form-switch" style="float: right; width: 110px; padding-left: 0px; margin-right: 30px;">
          <label class="form-check-label" for="ganglicht_switch">Gang licht</label>
          <input class="form-check-input" type="checkbox" id="ganglicht_switch" style="float: right;" data-zway-device="ZWayVDev_zway_3-0-37">
        </div>
      </div>
    </div>

    <div class="feature col-md-4">
      <div class="feature-icon bg-primary bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tv"/></svg>
      </div>
      <h2>Torrents zoeken</h2>
      <p>
        Zoek naar Torrents...
      </p>

      <form action="/torrent/search" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Zoekterm">
          <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
            Zoeken
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
