<div class="container py-5 remote-mouse">
    <h2 class="pb-2 border-bottom">Remote muis</h2>

    <div id="mouse_pad">
       <div id="mouse_feedback" class="unselectable">Muisbewegingen hier worden doorgestuurd.</div>
    </div>
</div>