<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="menu" viewBox="0 0 124.306 101.389">
    <path fill-rule="evenodd" fill="#FFFFFF" d="M124.221,51.43c-0.292,9.652-0.583,19.731-1.919,29.745
      c-0.927,6.954-4.414,11.381-11.583,13.039c-6.857,1.586-13.752,2.828-20.742,3.193c-24.284,1.271-48.592,2.301-72.648-2.609
      C6.593,92.608,3.603,89.633,2.676,78.637C1.012,58.889,0.166,39.102,3.01,19.354C3.957,12.779,7.412,8.658,14.008,7.002
      c8.774-2.202,17.708-3.222,26.679-3.63c23.386-1.064,46.796-1.87,69.845,3.607c7.913,1.88,10.756,5.125,11.819,13.304
      C123.676,30.474,124.029,40.734,124.221,51.43z M62.587,88.133c14.918-0.311,29.803-0.72,44.505-3.923
      c3.434-0.747,4.55-2.417,4.873-5.228c2.179-19.026,2.229-38.063,0.138-57.103c-0.339-3.073-1.917-4.68-5.16-5.071
      c-5.875-0.709-11.677-2.234-17.562-2.614c-23.735-1.534-47.458-2.127-70.987,2.625c-3.033,0.613-4.909,1.767-5.242,4.979
      c-1.978,19.039-2.053,38.077,0.01,57.11c0.304,2.801,1.498,4.52,4.906,5.277C32.765,87.457,47.655,87.807,62.587,88.133z"/>
    <path fill-rule="evenodd" fill="none" d="M62.579,88.136c-14.924-0.329-29.814-0.68-44.511-3.949
      c-3.408-0.758-4.603-2.477-4.906-5.277c-2.063-19.033-1.988-38.071-0.01-57.11c0.333-3.212,2.209-4.366,5.242-4.979
      c23.529-4.752,47.252-4.159,70.987-2.625c5.885,0.38,11.687,1.905,17.562,2.614c3.243,0.391,4.821,1.998,5.16,5.071
      c2.091,19.039,2.041,38.076-0.138,57.103c-0.323,2.811-1.439,4.48-4.873,5.228C92.39,87.414,77.505,87.823,62.579,88.136z
      M80.159,48.635c0,7.938,0,15.566,0,22.979c-1.667,1.124-3.558-0.231-5.188,1.645c0.687,2.009-0.651,4.53,0.674,6.78
      c6.585,0,12.971,0,19.321,0c0-2.774,0-5.204,0-7.974c-1.845,0-3.374,0-5.273,0c0-11.088,0-21.827,0-32.946
      c-4.992,0.629-9.564,1.206-14.158,1.784c-0.694,2.453-0.531,4.729-0.135,7.271C76.978,48.327,78.497,48.474,80.159,48.635z
      M57.542,24.84c-11.654,0-22.871,0-34.187,0c0,3.52,0,6.683,0,10.083c11.474,0,22.691,0,34.187,0
      C57.542,31.53,57.542,28.363,57.542,24.84z M57.549,45.204c-11.458,0-22.679,0-34.147,0c-0.395,3.424-0.548,6.719,0.064,10
      c11.496,0,22.696,0,34.083,0C57.549,51.737,57.549,48.588,57.549,45.204z M23.12,75.372c11.907,0,23.109,0,34.344,0
      c0-3.479,0-6.599,0-9.639c-11.567,0-22.786,0-34.344,0c0,1.356,0,2.403,0,3.451C23.12,71.13,23.12,73.076,23.12,75.372z
      M78.172,26.105c0.07,3.749,3.219,7.013,6.565,6.751c3.84-0.302,6.294-2.509,6.649-6.412c0.325-3.552-3.097-6.676-6.883-6.547
      C80.324,20.04,78.644,22.664,78.172,26.105z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M80.159,48.635c-1.662-0.161-3.182-0.309-4.759-0.461
      c-0.396-2.542-0.56-4.817,0.135-7.271c4.594-0.579,9.166-1.155,14.158-1.784c0,11.119,0,21.858,0,32.946c1.899,0,3.429,0,5.273,0
      c0,2.77,0,5.199,0,7.974c-6.351,0-12.736,0-19.321,0c-1.325-2.25,0.013-4.771-0.674-6.78c1.63-1.876,3.521-0.521,5.188-1.645
      C80.159,64.202,80.159,56.573,80.159,48.635z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M57.542,24.84c0,3.523,0,6.689,0,10.083c-11.496,0-22.713,0-34.187,0
      c0-3.399,0-6.563,0-10.083C34.67,24.84,45.888,24.84,57.542,24.84z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M57.549,45.204c0,3.384,0,6.533,0,10c-11.387,0-22.588,0-34.083,0
      c-0.612-3.28-0.459-6.575-0.064-10C34.87,45.204,46.091,45.204,57.549,45.204z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M23.12,75.372c0-2.296,0-4.241,0-6.188c0-1.048,0-2.095,0-3.451
      c11.558,0,22.776,0,34.344,0c0,3.04,0,6.16,0,9.639C46.229,75.372,35.026,75.372,23.12,75.372z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M78.172,26.105c0.472-3.442,2.152-6.066,6.332-6.208
      c3.786-0.129,7.208,2.995,6.883,6.547c-0.355,3.903-2.81,6.11-6.649,6.412C81.391,33.119,78.242,29.854,78.172,26.105z"/>
  </symbol>

  <symbol id="teletext" viewBox="0 0 124.306 101.389">
    <path fill-rule="evenodd" fill="none" d="M60.879,97.951c16.51-0.484,32.575-0.229,48.167-4.3
      c10.027-2.616,12.121-5.896,13.07-14.89c2.023-19.181,1.916-38.369,0.029-57.558c-0.834-8.474-2.785-12.85-12.973-14.902
      c-30.418-6.128-61.044-5.636-91.555-0.58C6.052,7.639,3.144,11.785,2.086,23.479C0.447,41.608,1.64,59.717,2.344,77.823
      c0.327,8.408,4.891,14.145,13.59,16.061C30.996,97.203,46.197,97.265,60.879,97.951z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M60.879,97.951c-14.682-0.686-29.884-0.748-44.946-4.067
      C7.234,91.967,2.67,86.231,2.344,77.823C1.64,59.717,0.447,41.608,2.086,23.479C3.144,11.785,6.052,7.639,17.618,5.722
      c30.511-5.056,61.137-5.549,91.555,0.58c10.188,2.052,12.139,6.428,12.973,14.902c1.887,19.189,1.994,38.377-0.029,57.558
      c-0.949,8.994-3.043,12.273-13.07,14.89C93.454,97.721,77.39,97.466,60.879,97.951z M62.949,87.194
      c13.692,0.272,27.796-0.632,41.827-3.164c4.678-0.845,6.904-2.809,7.094-7.495c0.168-4.122,0.666-8.23,0.982-12.347
      c1.039-13.479,0.244-26.921-0.736-40.37c-0.371-5.124-2.773-7.358-7.883-8.063c-6.389-0.882-12.746-2.083-19.191-2.442
      c-21.909-1.224-43.781-1.4-65.494,2.645c-4.194,0.781-6.467,2.33-6.801,7.101c-1.265,18.104-2.113,36.167,0.042,54.272
      c0.447,3.742,1.866,5.637,5.699,6.421C33.008,86.719,47.676,87.391,62.949,87.194z"/>
    <path fill-rule="evenodd" fill="none" d="M62.949,87.194c-15.273,0.197-29.941-0.475-44.461-3.442
      c-3.833-0.784-5.252-2.679-5.699-6.421c-2.155-18.104-1.307-36.168-0.042-54.272c0.334-4.771,2.606-6.32,6.801-7.101
      c21.713-4.044,43.585-3.868,65.494-2.645c6.445,0.36,12.803,1.561,19.191,2.442c5.109,0.705,7.512,2.939,7.883,8.063
      c0.98,13.448,1.775,26.89,0.736,40.37c-0.316,4.116-0.814,8.225-0.982,12.347c-0.189,4.687-2.416,6.65-7.094,7.495
      C90.745,86.562,76.642,87.466,62.949,87.194z M23.602,75.149c26.281,0,52.128,0,78.503,0c-0.326-3.504,0.426-6.806-0.553-9.886
      c-26.338,0-52.351,0-78.363,0C22.546,68.648,23.134,71.624,23.602,75.149z M22.803,34.669c26.553,0,52.555,0,78.723,0
      c0-1.318-0.033-2.377,0.006-3.434c0.26-6.714,0.266-6.718-6.555-6.721c-21.4-0.008-42.798-0.038-64.201,0.016
      c-2.625,0.006-5.322-0.549-7.974,0.416C22.803,28.088,22.803,31.105,22.803,34.669z M23.834,45.023
      c-1.292,3.478-1.146,6.591-0.581,9.633c26.446,0,52.57,0,78.595,0c0-3.394,0-6.394,0-9.633
      C75.841,45.023,50.028,45.023,23.834,45.023z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M23.602,75.149c-0.468-3.525-1.055-6.501-0.413-9.886c26.012,0,52.025,0,78.363,0
      c0.979,3.08,0.227,6.382,0.553,9.886C75.729,75.149,49.882,75.149,23.602,75.149z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M22.803,34.669c0-3.564,0-6.582,0-9.724c2.651-0.965,5.349-0.41,7.974-0.416
      c21.402-0.053,42.8-0.024,64.201-0.016c6.82,0.002,6.814,0.007,6.555,6.721c-0.039,1.057-0.006,2.116-0.006,3.434
      C75.358,34.669,49.356,34.669,22.803,34.669z"/>
    <path fill-rule="evenodd" fill="#FFFFFF" d="M23.834,45.023c26.194,0,52.006,0,78.014,0c0,3.24,0,6.24,0,9.633
      c-26.025,0-52.149,0-78.595,0C22.688,51.615,22.542,48.501,23.834,45.023z"/>
  </symbol>


  <symbol id="remote-close" viewBox="0 0 124.306 101.389">
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M62.237,98.061c-15.399-0.008-30.783-0.188-45.929-3.537
      C5.941,92.233,2.574,88.24,1.616,77.53C0.21,61.806,0.521,46.045,0.546,30.299c0.007-4.941,1.157-9.964,2.386-14.797
      c1.309-5.149,5.106-7.989,10.278-9.316C24.335,3.33,35.784,3.122,47.089,2.429c21.143-1.295,42.347-1.315,63.163,3.686
      c8.196,1.968,11.356,5.917,12.207,14.331c1.954,19.341,2.035,38.678,0.092,58.027c-1.017,10.131-4.309,13.92-14.394,16.033
      c-3.887,0.815-7.799,1.594-11.739,2.067C85.067,97.938,73.656,98.106,62.237,98.061z M62.096,87.833
      c15.215-0.315,30.427-0.601,45.364-4.141c2.158-0.512,3.65-1.11,4.019-3.571c2.879-19.287,2.579-38.601,0.699-57.943
      c-0.361-3.714-1.971-5.575-5.977-6.238c-29.003-4.801-57.934-4.966-86.988-0.222c-5.651,0.922-7.302,3.436-7.513,8.359
      c-0.776,18.103-1.329,36.194,0.704,54.264c0.378,3.354,1.934,4.812,5.367,5.57C32.397,87.148,47.228,87.515,62.096,87.833z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.966,45.311c0,2.707,0,5.895,0,9.392
      c-11.399,0-22.701,0-34.304,0c0-3.277,0-6.43,0-9.392C33.995,45.311,45.375,45.311,56.966,45.311z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M22.584,34.284c0-3.704,0-6.876,0-10.297
      c11.543,0,22.801,0,34.328,0c0,3.405,0,6.716,0,10.297C45.446,34.284,34.167,34.284,22.584,34.284z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.779,75.16c-11.438,0-22.586,0-34.091,0
      c0-3.321,0-6.471,0-9.957c11.131,0,22.428,0,34.091,0C57.488,68.34,57.385,71.782,56.779,75.16z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M32.154,49.128"/>
    <g>
      <path fill="#FFFFFF" d="M90.607,74.794l-7.102-17.787l-6.988,17.787h-8.369l10.623-24.775l-9.919-23.555h8.145l6.678,16.825
        l6.453-16.825h8.145l-9.863,23.555l11.019,24.775H90.607z"/>
    </g>
  </symbol>

  <symbol id="remote-list" viewBox="0 0 124.306 101.389">
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M62.237,98.061c-15.399-0.008-30.783-0.188-45.929-3.537
      C5.941,92.233,2.574,88.24,1.616,77.53C0.21,61.806,0.521,46.045,0.546,30.299c0.007-4.941,1.157-9.964,2.386-14.797
      c1.309-5.149,5.106-7.989,10.278-9.316C24.335,3.33,35.784,3.122,47.089,2.429c21.143-1.295,42.347-1.315,63.163,3.686
      c8.196,1.968,11.356,5.917,12.207,14.331c1.954,19.341,2.035,38.678,0.092,58.027c-1.017,10.131-4.309,13.92-14.394,16.033
      c-3.887,0.815-7.799,1.594-11.739,2.067C85.067,97.938,73.656,98.106,62.237,98.061z M62.096,87.833
      c15.215-0.315,30.427-0.601,45.364-4.141c2.158-0.512,3.65-1.11,4.019-3.571c2.879-19.287,2.579-38.601,0.699-57.943
      c-0.361-3.714-1.971-5.575-5.977-6.238c-29.003-4.801-57.934-4.966-86.988-0.222c-5.651,0.922-7.302,3.436-7.513,8.359
      c-0.776,18.103-1.329,36.194,0.704,54.264c0.378,3.354,1.934,4.812,5.367,5.57C32.397,87.148,47.228,87.515,62.096,87.833z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.966,45.311c0,2.707,0,5.895,0,9.392
      c-11.399,0-22.701,0-34.304,0c0-3.277,0-6.43,0-9.392C33.995,45.311,45.375,45.311,56.966,45.311z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M22.584,34.284c0-3.704,0-6.876,0-10.297
      c11.543,0,22.801,0,34.328,0c0,3.405,0,6.716,0,10.297C45.446,34.284,34.167,34.284,22.584,34.284z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M56.779,75.16c-11.438,0-22.586,0-34.091,0
      c0-3.321,0-6.471,0-9.957c11.131,0,22.428,0,34.091,0C57.488,68.34,57.385,71.782,56.779,75.16z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M32.154,49.128"/>
  </symbol>

  <symbol id="remote-info" viewBox="0 0 124.306 101.389">
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M123.894,54.517c-0.292,9.657-0.583,19.741-1.92,29.758
      c-0.927,6.956-4.415,11.385-11.587,13.043c-6.859,1.587-13.758,2.829-20.749,3.196c-24.293,1.27-48.609,2.301-72.674-2.611
      C6.225,95.71,3.233,92.737,2.307,81.735C0.642,61.981-0.205,42.183,2.641,22.429c0.947-6.578,4.402-10.7,11.001-12.356
      C22.419,7.871,31.356,6.85,40.33,6.441c23.394-1.063,46.813-1.871,69.87,3.608c7.914,1.881,10.759,5.128,11.823,13.309
      C123.351,33.552,123.701,43.816,123.894,54.517z M62.238,91.235c14.923-0.31,29.813-0.72,44.521-3.923
      c3.436-0.748,4.551-2.419,4.874-5.231c2.18-19.034,2.23-38.078,0.139-57.125c-0.339-3.074-1.917-4.681-5.162-5.073
      c-5.876-0.709-11.681-2.235-17.566-2.615c-23.744-1.534-47.477-2.128-71.014,2.626c-3.034,0.613-4.91,1.767-5.244,4.98
      c-1.979,19.046-2.053,38.093,0.01,57.132c0.304,2.803,1.499,4.522,4.908,5.28C32.405,90.558,47.301,90.909,62.238,91.235z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M57.19,27.917c0,3.523,0,6.691,0,10.085
      c-11.499,0-22.72,0-34.199,0c0-3.4,0-6.565,0-10.085C34.313,27.917,45.533,27.917,57.19,27.917z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M57.198,48.289c0,3.385,0,6.538,0,10.005
      c-11.391,0-22.596,0-34.096,0c-0.611-3.281-0.458-6.58-0.063-10.005C34.511,48.289,45.737,48.289,57.198,48.289z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M22.757,78.468c0-2.296,0-4.243,0-6.189c0-1.048,0-2.096,0-3.451
      c11.562,0,22.784,0,34.356,0c0,3.04,0,6.161,0,9.641C45.874,78.468,34.668,78.468,22.757,78.468z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M88.15,36.546c-2.76,0-5.671,0-8.92,0c0,2.33,0,4.458,0,6.818
      c-2.937,0-5.54,0-8.505,0c0-4.996,0-10.07,0-15.446c8.812,0,17.79,0,27.131,0c0,5.881-0.088,11.648,0.039,17.41
      c0.059,2.689-2.214,3.573-3.466,5.253c-2.778,3.728-8.245,5.475-7.954,11.331c-2.918,0-5.516,0-8.052,0
      c-1.802-5.571,0.562-9.298,4.579-12.682C86.691,46.122,90.774,42.918,88.15,36.546z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M78.31,68.842c2.847,0,5.434,0,8.253,0c0,3.555,0,6.905,0,10.477
      c-2.754,0-5.343,0-8.253,0C78.31,75.959,78.31,72.601,78.31,68.842z"/>
  </symbol>

  <symbol id="channel-list" viewBox="0 0 124.306 101.389">
      <path fill-rule="evenodd" fill="#FFFFFF" d="M62.315,98.773c-15.713,0.089-31.399-0.226-46.817-3.728
        C6.438,92.989,2.55,88.535,1.954,79.168c-0.539-8.462-1.041-16.952-0.921-25.42C1.199,41.886,0.399,29.957,3.17,18.213
        c1.501-6.365,4.063-9.107,10.587-10.602c23.288-5.335,46.855-4.748,70.478-3.663c9.203,0.422,18.27,1.542,27.243,3.544
        c6.251,1.394,9.789,5.668,10.511,11.627c2.536,20.93,2.549,41.926,0.117,62.866c-0.735,6.328-4.086,10.769-10.89,12.497
        C95.117,98.575,78.732,98.703,62.315,98.773z M60.715,88.582c15.383-0.114,29.371-0.929,43.304-3.146
        c5.639-0.899,7.846-3.51,8.318-8.97c1.514-17.453,1.377-34.893,0.175-52.34c-0.274-3.986-2.109-6.134-6.5-7.13
        c-10.42-2.365-20.91-3.082-31.521-3.314c-19.033-0.417-38.033-0.689-56.771,3.59c-2.948,0.674-4.912,1.776-5.157,5.117
        c-1.396,19.071-1.711,38.135,0.324,57.18c0.278,2.596,1.41,4.255,4.58,4.984C32.164,87.936,47.085,88.249,60.715,88.582z"/>
      <path fill-rule="evenodd" fill="#FFFFFF" d="M76.818,50.812c7.98,0.445,15.677-0.582,23.845,0.225
        c-3.896,9.018-7.73,17.885-11.825,27.36C84.736,68.982,80.814,59.984,76.818,50.812z"/>
      <path fill-rule="evenodd" fill="#FFFFFF" d="M28.608,23.61c11.778,0,22.891,0,34.289,0c0,3.498,0,6.798,0,10.366
        c-11.32,0-22.897,0.028-34.288,0.028C28.633,31.761,28.608,26.67,28.608,23.61z"/>
      <path fill-rule="evenodd" fill="#FFFFFF" d="M63.126,46.616c0,3.445,0,6.485,0,9.853c-11.382,0-22.624,0-34.225,0
        c0-3.176,0-6.299,0-9.853C40.105,46.616,51.464,46.616,63.126,46.616z"/>
      <path fill-rule="evenodd" fill="#FFFFFF" d="M62.871,68.712c0,3.193,0,6.337,0,9.685c-11.481,0-22.73,0-34.237,0
        c0-3.253,0-6.255,0-9.685C39.922,68.712,51.298,68.712,62.871,68.712z"/>
      <path fill-rule="evenodd" fill="#FFFFFF" d="M100.663,51.195c-7.98-0.446-15.677,0.582-23.845-0.225
        c3.896-9.018,7.73-17.885,11.824-27.36C92.745,33.025,96.667,42.022,100.663,51.195z"/>
    </symbol>

    <symbol id="samsung-logo" viewBox="0 0 199.99999 32.000001">
      <path
        d="m 7.9999895,8.8 c 0,-0.8 0,-0.8 0,-1.6 0,-0.8 0.8,-1.6 2.4000005,-1.6 1.6,0 2.4,0.8 2.4,2.4 v 1.6 h 7.199999 V 7.2 C 19.999989,0.8 14.39999,0 10.39999,0 5.5999895,0 0.79998954,1.6 0.79998954,6.4 c 0,1.6 0,2.4 0,4 C 2.3999895,16 11.99999,17.6 13.59999,21.6 c 0,0.8 0,1.6 0,2.4 0,0.8 -0.8,1.6 -2.4,1.6 -1.6000005,0 -3.2000005,-0.8 -3.2000005,-2.4 l 0,-2.4 H -1.0463023e-5 v 2.4 c 0,6.4 4.799999963023,8 10.400000463023,8 4.8,0 9.599999,-1.6 10.399999,-6.4 0,-2.4 0,-4 0,-4.8 -1.6,-5.6 -11.9999995,-7.2 -12.7999995,-11.2 m 92.7999905,0 c 0,-0.8 0,-0.8 0,-1.6 0,-0.8 0.8,-1.6 2.4,-1.6 1.6,0 2.4,0.8 2.4,2.4 v 1.6 h 7.2 V 8 c 0,-6.4 -5.6,-7.2 -9.6,-7.2 -4.799995,0 -8.799995,1.6 -9.599995,6.4 0,1.6 0,2.4 0,4 1.6,5.6 11.199995,7.2 12.799995,11.2 0,0.8 0,1.6 0,2.4 0,0.8 -0.8,1.6 -2.4,1.6 -1.6,0 -3.2,-0.8 -3.2,-2.4 V 21.6 H 93.599985 V 24 c 0,6.4 4.8,8 10.399995,8 4.8,0 9.6,-1.6 9.6,-6.4 0,-2.4 0,-4 0,-4.8 -1.6,-6.4 -12,-8 -12.8,-12 m 64.80001,16 -6.4,-23.2 h -10.4 v 28 h 7.2 l -0.8,-24 7.2,24 h 10.4 v -28 h -7.2 l 0,23.2 z M 31.199989,1.6 l -5.6,28.8 h 8 l 4,-26.4 4,26.4 h 8.000002 L 43.999989,1.6 h -12.8 z m 42.399996,0 -3.999995,22.4 -3.2,-22.4 h -12 l -0.8,28.8 h 7.2 l 0,-26.4 4.8,26.4 h 7.199995 l 4.8,-26.4 0,26.4 h 7.2 l -0.8,-28.8 h -10.4 z m 66.399995,0 h -7.2 v 20.8 c 0,0 0,0.8 0,0.8 0,0.8 -0.8,2.4 -2.4,2.4 -1.6,0 -2.4,-1.6 -2.4,-2.4 0,0 0,-0.8 0,-0.8 V 1.6 h -7.2 v 20.8 c 0,0.8 0,1.6 0,1.6 0.8,5.6 4.8,7.2 9.6,7.2 5.6,0 9.6,-1.6 9.6,-7.2 0,0 0,-1.6 0,-1.6 V 1.6 z m 49.60001,12.8 v 4 h 3.2 v 4 c 0,0 0,0.8 0,0.8 0,0.8 -0.8,2.4 -3.2,2.4 -2.4,0 -2.4,-1.6 -3.2,-2.4 0,0 0,-0.8 0,-0.8 V 9.6 c 0,-0.8 0,-0.8 0,-1.6 0,-0.8 0.8,-2.4 3.2,-2.4 2.4,0 2.4,1.6 3.2,2.4 0,0.8 0,0.8 0,0.8 v 1.6 h 7.2 V 9.6 c 0,0 0,-0.8 0,-1.6 -0.8,-5.6 -4.8,-7.2 -10.4,-7.2 -4.8,0 -9.6,1.6 -10.4,7.2 0,0.8 0,1.6 0,1.6 v 12 c 0,0.8 0,0.8 0,1.6 0.8,5.6 4.8,7.2 10.4,7.2 4.8,0 9.6,-1.6 10.4,-7.2 0,-0.8 0,-1.6 0,-1.6 v -8 h -10.4 z"
        id="path7689-4"
        style="fill:#000000" />
    </symbol>
</svg>